<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title>form 유효성 검사 실습</title>
    <style>
      .error {
        color: red;
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <!-- 유효성 검사(실습) -->
    <h3>유효성 검사 실습 (pattern 사용)</h3>
    <ul>
      <li>아이디, 비밀번호, 전화번호, 이름, 성별 입력받기</li>
      <li>모든 값은 <strong>필수</strong></li>
      <li>아이디는 <strong>영어 소문자, 숫자만 사용 가능(5글자 이상)</strong></li>
      <li>전화번호는 <strong>010-0000-0000 형식</strong></li>
      <li>비밀번호는 <strong>영어 소문자, 대문자, 숫자, 특수 문자를 모두 한 번 이상 사용(8글자 이상)</strong></li>
    </ul>
    <form action="/enroll" name="enroll" method="post">
      <fieldset>
        <legend>아이디</legend>
        <input type="text" placeholder="ID" name="id" pattern="^([a-z0-9]){5,}$" title="소문자, 숫자를 사용하여 5글자 이상" required />
      </fieldset>
      <fieldset>
        <legend>비밀번호</legend>
        <input type="password" placeholder="PW" name="pw" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" title="소문자, 대문자, 숫자, 특수문자를 모두 한 번 이상 사용하여 8글자 이상" required />
      </fieldset>
      <fieldset>
        <legend>전화번호</legend>
        <input type="text" placeholder="010-0000-0000" name="phone" pattern="^(010)-\d{3,4}-\d{4}$" title="010-0000-0000 형식" required />
      </fieldset>
      <fieldset>
        <legend>이름</legend>
        <input type="text" placeholder="이름" name="name" required />
      </fieldset>
      <fieldset>
        <legend>성별</legend>
        <input type="radio" name="gender" id="women" required /> <label id="women">여자</label>
        <input type="radio" name="gender" id="men" required /><label for="men">남자</label>
      </fieldset>
      <button type="submit">제출</button>
    </form>

    <h3>유효성 검사 실습 (js 사용)</h3>
    <form action="/register" name="register2" method="post">
      <fieldset>
        <legend>아이디</legend>
        <input type="text" placeholder="ID" name="id" oninput="checkValid(this)" />
        <div class="error"></div>
      </fieldset>
      <fieldset>
        <legend>비밀번호</legend>
        <input type="password" placeholder="PW" name="pw" oninput="checkValid(this)" />
        <div class="error"></div>
      </fieldset>
      <fieldset>
        <legend>전화번호</legend>
        <input type="text" placeholder="010-0000-0000" name="phone" oninput="checkValid(this)" />
        <div class="error"></div>
      </fieldset>
      <fieldset>
        <legend>이름</legend>
        <input type="text" placeholder="이름" name="name" oninput="checkValid(this)" />
        <div class="error"></div>
      </fieldset>
      <fieldset>
        <legend>성별</legend>
        <input type="radio" name="gender" id="women2" checked /><label id="women2">여자</label>
        <input type="radio" name="gender" id="men2" /><label for="men2">남자</label>
        <div class="error"></div>
      </fieldset>
      <button type="button" onclick="formRegister()">제출</button>
    </form>

    <script>
      const regexData = {
        id: {
          pattern: /^([a-z0-9]){5,}$/,
          title: "소문자, 숫자를 사용하여 5글자 이상"
        },
        pw: {
          pattern: /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/,
          title: "소문자, 대문자, 숫자, 특수문자를 모두 한 번 이상 사용하여 8글자 이상"
        },
        phone: {
          pattern: /^(010)-\d{3,4}-\d{4}$/,
          title: "010-0000-0000 형식"
        },
        name: {
          pattern: /^.+$/,
          title: "값을 입력해주세요."
        }
      }

      function checkValid(element) {
        const regex = regexData[element.name].pattern;
        const txt = regexData[element.name].title;
        const errEl = $(element).nextAll(".error")
        if (regex.test(element.value)) {
          errEl.html("")
          return true;
        } else {
          errEl.html(txt)
          return false;
        }
      }


      function formRegister() {
        const form = document.forms["register2"];
        if (!checkValid(form.id)) return;
        if (!checkValid(form.pw)) return;
        if (!checkValid(form.phone)) return;
        if (!checkValid(form.name)) return;

        form.submit();
      }
    </script>
  </body>
</html>