<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        h2 {
            font-size: 24px;
            color: #007BFF;
        }

        a {
            text-decoration: none;
            font-size: 18px;
            color: #333;
            margin: 10px;
            display: block;
            padding: 10px;
            border: 2px solid #007BFF;
            border-radius: 5px;
            background-color: #fff;
            width: 150px;
            transition: background-color 0.3s, color 0.3s;
        }

        a:hover {
            background-color: #007BFF;
            color: #fff;
        }
    </style>
</head>
<body>
    <h2>Choose a Page</h2>
    <a href="/mypage">💕 Mypage</a>
    <a href="/register">🤞 Register</a>
    <a href="/login">🤩 login</a>
</body>
</html>