/* * {
    color: white;
    background-color: grey;
}
span{
    background-color: red;
}
#first{
    background-color: blue !important;
}
.second{
    background-color: green !important;
}
/* 하위 선택자 */
/* div .apple{
    color: red !important;
} */

/* 자식 선택자 */
/* div > .apple{
    background-color: green;
} */ 

/* 인접 형제 선택자 */
h1 + ul {
    font-size: 20px;
    color: blue;
}

/* 모든 거 바뀜! */
h1 ~ ul {
    font-size: 20px;
    color: blue;
}