.div-hover:hover{
    background-color: yellowgreen;
}
.div-active:active{
    background-color: pink;
    color: red;
}
.input-focus:focus{
    background-color: aquamarine;
}
a:visited{
    color: green;
}

/* fruits의 first-child가 span일 경우에 바꿔라 */
/* 즉 span을 div로 바꾸면 아무 스타일 변화 없음 */
.fruits span:first-child{
    color: red;
}

.fruits h3:last-child{
    color: red;
}

.fruits div:nth-child(3){
    color: orange;
}

.fruits2 span:nth-child(2n+1){
    color: tomato;
}

/* span에서 watermelon이 아닌 것 */
.fruits2 span:not(.watermelon){
    background-color: thistle;
}

/* 전체에서 span이 아닌 것 */
.fruits *:not(span){
    background-color: wheat;
}

/* ::before */
div.before-el::before {
    content: "앞!";
}

/* ::after */
div.after-el::after {
    content: "hot";
    font-size: 12px;
    color: white;
    background-color: red;
    border-radius: 20%;
}

div.box::before{
    content: "택시";
    font-size: 12px;
    color: white;
    background-color: red;
    border-radius: 20%;
}

div.box::after{
    content: "빨리";
    font-size: 12px;
    color: white;
    background-color: navy;
    border-radius: 20%;
}

/* 속성선택자 */
input[name=name]{
    background-color: blueviolet !important;
}

input:disabled{
 background-color: red;   
}

input[placeholder=이름]{
    background-color: orange;
}

input:not([placeholder]){
    background-color: blue;
}